h1, h1 a, h1 a:hover {
    color: #ffccff;
    text-decoration: none;
    font-family: 'Fredericka the Great', cursive;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
    font-size: 10pt;
}


hr {
  border-width: 1px;
  border-style: dashed;
}
